<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Url Shortener</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="../static/scripts/copy.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
      <div class="container-fluid">
        <a class="navbar-brand me-auto fs-3 fw-medium" href="{{ url_for('urls.index') }}">
          <img class="me-1" src="../static/images/favicon.png" alt="url-shortener-icon" style="max-width: 3rem; border-radius: 8px">URL Shortener
        </a>
        {% if g.user %}
          <span class="me-3">{{ g.user['username'] }}</span>
          <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <a class="btn btn-primary me-2" href="{{ url_for('auth.register') }}">Register</a>
          <a class="btn btn-primary" href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </div>
    </nav>
    <section class="content">
      {% block content %}{% endblock %}
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
  <footer class="fixed-bottom p-3">
    <div class="row">
      <div class="col">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="themeCheck">
          <label class="form-check-label" for="themeCheck">Light / Dark</label>
        </div>
      </div>
    </div>
  </footer>
</html>