{% extends 'base.html' %}
{% block title %}Create{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="shadow card">
          <div class="card-body">
            <h3 class="card-title">Create URL</h3>
            <form method="post">
              <div>
                <label for="url_name" class="form-label mb-0">Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control mb-2" name="url_name" id="url_name" required>
                <label for="url" class="form-label mb-0">URL <span class="text-danger">*</span></label>
                <input type="url" class="form-control mb-2" name="url" id="url" required>
                <label for="extension" class="form-label mb-0">Custom URL Extension<i data-bs-toggle="tooltip" data-bs-title="Characters that will appear at the end of your short URL. Random if left blank." class="ms-2 bi bi-question-circle"></i></label>
                <input type="text" class="form-control" name="extension" id="extension">
              </div>
              <div class="justify-content-center">
                <button type="submit" class="btn btn-primary mt-3">Create</button>
              </div>
            </form>
            {% for message in get_flashed_messages() %}
              <div class="alert alert-danger alert-dismissible show mt-3 mb-0" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}