{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if g.user %}
    <div class="row justify-content-center">
      <div class="col-4">
        <h1 class="mb-3 ps-2">Your URLs:</h1>
        {% for url in urls %}
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="shadow card">
                  <div class="card-body text-start">
                    <h3 class="card-title">URL:</h3>
                    <div class="mb-3">
                      <span>Short URL: </span>
                      <span class="ps-2 pe-2 pt-1 pb-1 bg-secondary-subtle rounded">127.0.0.1:5000/{{ url["shortener_string"] }}</span>
                    </div>
                    <div>
                      <span>Long URL: </span>
                      <span class="ps-2 pe-2 pt-1 pb-1 bg-secondary-subtle rounded">{{ url["originalUrl"] }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col text-center">
        <p class="title-text">Welcome to URL Shortener</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col text-center">
        <p class="fs-3">Please Register or Log In to continue</p>
      </div>
    </div>
  {% endif %}
{% endblock %}