{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if g.user %}
    <div class="row justify-content-center m-0 p-0">
      <div class="col-4">
        <div class="row">
          <div class="col">
            <h1 class="mb-3 ps-2">Your URLs:</h1>
          </div>
          <div class="col text-end pe-3">
            <a class="btn btn-primary me-2" href="{{ url_for('urls.create') }}">New</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center m-0 p-0">
      <div class="col-4">
        {% for url in urls %}
          <div class="container">
            <div class="shadow card mb-3">
              <div class="card-body text-start">
                <h3 class="card-title">{{ url['url_name'] }}</h3>
                <div class="input-group mb-3">
                  <span class="input-group-text">Short URL</span>
                  <input type="text" class="form-control font-monospace" readonly
                         value="127.0.0.1:5000/url/{{ url['shortener_string'] }}">
                  <span class="input-group-text copy-button"><i onclick="copy_to_clipboard(this)"
                                                                class="bi bi-clipboard text-primary"></i></span>
                </div>
                <div class="input-group">
                  <span class="input-group-text">Long URL</span>
                  <input type="text" class="form-control font-monospace" readonly value="{{ url['original_url'] }}">
                  <span class="input-group-text copy-button"><i onclick="copy_to_clipboard(this)"
                                                                class="bi bi-clipboard text-primary"></i></span>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col">
                    <form action="{{ url_for('urls.delete', url_id=url['id']) }}" method="post">
                      <input class="btn btn-danger danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                    </form>
                  </div>
                  <div class="col text-end">
                    <a class="btn btn-primary" href=""><i class="bi bi-pencil-square"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="row m-0 p-0">
      <div class="col text-center">
        <p class="title-text">Welcome to URL Shortener</p>
      </div>
    </div>
    <div class="row justify-content-center m-0 p-0">
      <div class="col text-center">
        <p class="fs-3">Please Register or Log In to continue</p>
      </div>
    </div>
  {% endif %}
{% endblock %}